<%= link_to "tweets/favorite-this?tweet_id=#{@tweet}", :remote => true do %>
  <div id="favorite_icon"><img src="https://si0.twimg.com/images/dev/cms/intents/icons/favorite.png"></div><h5>&nbsp;&nbsp;Favorite&nbsp;&nbsp;</h5>
  <% end %>