<%= link_to "tweets/unfavorite-this?tweet_id=#{@tweet}", :remote => true do %>
  <div id="favorite_icon"><img src="https://si0.twimg.com/images/dev/cms/intents/icons/favorite_on.png"></div><h5 id="favorited">&nbsp;&nbsp;Favorited&nbsp;&nbsp;</h5>
  <% end %>