.container--tweets {
    padding: 25px;
    @include clearfix();
}

.tweets--tweet {
    background: $white;
    @include drop-shadow( -3px, 7px, 7px, 0.3);
    border-radius: 20px;
    width: 95%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 25px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

.tweet--profile-image img {
    width: 70px;
    border-radius: 10px;
    margin: 5%;
    float: left;
}

.tweet--content {
    padding: 0 20px 20px 111px;
}

.content--handle {
    font-family: "source-sans-pro";
    color: #aaa;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 15px;
    display: inline-block;
}

.content--handle div {
    color: $siteOrange;
    display: inline-block;
}

.content--handle div em {
    font-family: "adobe-caslon-pro";
    text-decoration: underline;
}

.content--handle div em:hover {
    font-family: "adobe-caslon-pro";
    color: $siteBrown;
}

.container--tweets-header {
    background-color: $white;
    margin-top: 5%;
}

.container--tweets-header h1 {
    font-family: 'source-sans-pro';
    color: $siteOrange;
    text-align: left;
    font-size: (20rem/16);
    padding: 2% 0;
    width: 90%;
    margin: 0 auto;
    max-width: 760px;
}

.tweet--content a {
    color: $siteOrange;
}

@media screen and (min-width: 700px) {
    .container--tweets {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}