@media all and (max-width: 830px) {
  #chars {
    display: none;
  }
  
  #tweets {
    margin-top: 20px;
  }
  
  #tweet_text {
    padding-left: 5%;
  }
  
  #tweets {
    padding: 5px;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    clear: both;
  }
  
  #i_hear {
    font-size: 6vw;
    background: #fff;
    border-radius: 20px;
    padding: 25px;
  }
  
  #login_status {
    display: none;
  }
}

@media all and (min-width: 831px) {
  #tweet_text {
    padding-left: 111px;
    padding-bottom: 20px;
  }
  
  #tweets {
    padding: 25px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    clear: both;
  }
  
  #i_hear {
    height: 42px;
    font-size: 17px;
    padding: 10px;
    background: #fff;
    border-radius: 20px;
    width: 75%;
    display: inline-block;
    margin-right: 20px;
  }
}

@media all and (max-width: 670px) {
  #question {
    text-align: center;
  }
  
  #lnk {
    margin-left: 3%;
  }
  
  #omaha {
    margin-right: 3%;
  }
  
  #sent_second {
    display: none;
  }
  
  #sent_message {
    padding: 30px;
  }
  
  #another_note, #schedule_donation {
    width: 100%;
    margin-top: 20px;
  }
  
  #sent_actions {
    width: 100%;
  }
  
  #tweet {
    padding: 4px 7px 20px;
  }
  
  #tweets_input {
    padding: 10px;
  }
  
  #sign_in {
    width: 100%;
  }
  
  #tweet_profile_image img {
    display: none;
  }
  
  input[name="tweet[message]"] {
    width: 100%;
  }
  
  input[type="submit"] {
    width: 100%;
  }
  
  #omaha_date, #lnk_date {
    font-size: 6vw;
  }
  
  #call_to_action {
    display: none;
  }
  
  #diag_backdrop {
    padding: 0;
  }
  
  #omaha_name, #lnk_name {
    font-size: 4vw;
  }
  
  #dates {
    width: 90%;
  }
  
  input[name="tweet[message]"] {
    height: 50px;
  }
  
  #logo {
    width: 24%;
    margin-left: 0%;
  }
  
  #lnk {
    float: right;
  }
  
  #tweets_input {
    width: 100%;
  }
}

@media all and (min-width: 671px) {
  #lnk {
    margin-left: 5%;
  }
  
  #omaha {
    margin-right: 5%;
  }
  
  #sent_message {
    padding: 50px;
  }
  
  #sent_actions {
    width: 450px;
  }
  
  #tweet {
    padding-right: 10px;
  }
  
  #tweets_input {
    padding: 25px 25px 25px 60px;
  }
  
  input[name="tweet[message]"] {
    width: 60%;
  }
  
  label {
    padding-left: 10px;
  }
  
  #call_to_action {
    padding: 15px;
    font-size: 20px;
  }
  
  #diag_backdrop {
    padding: 0 25px 25px 25px;
  }
  
  #omaha_date, #lnk_date {
    font-size: 40px;
  }
  
  #omaha_name, #lnk_name {
    font-size: 23px;
  }
  
  #logo {
    width: 115px;
  }
  
  #dates {
    width: 500px;
  }
  
  #tweets_input {
    width: 90%;
  }
}

@media all and (max-width: 950px) {
  #question {
    font-size: 6vw;
  }
}

@media all and (min-width: 951px) {
  #question {
    font-size: 60px;
  }
}

  body {
    background: #e6e7e8;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }

  h1, h2, h3 {
    margin: 0;
  }
  
  h4 {
    font-family: "source-sans-pro";
    color: #aaa;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 15px;
    display: inline-block;
  }
  
  h5 {
    font-family: "source-sans-pro";
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    display: inline-block;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }
  
  label a {
    color: #888;
  }
  
  label a:hover {
    text-decoration: underline;
  }
  
  #handle {
    font-family: "adobe-caslon-pro";
    color: #f15a29;
    display: inline-block;
  }

  #tweet_profile_image img {
    width: 70px;
    border-radius: 10px;
    margin: 5%;
    float: left;
  }
  
  #actions {
    margin-top: 5px;
  }
  
  #tweet {
    background: #fff;
    box-shadow: -3px 7px 7px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 95%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 25px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
  }
  
  img {
    width: 100%;
  }

  input {
    border: 0;
    border-radius: 20px;
    padding: 5px 25px;
  }

  input:focus {
    outline: none
  }
  
  #favorited {
    color: #ffac33;
  }

  input[name="tweet[message]"] {
    padding: 0;
    font-size: 17px;
    color: #888;
    font: inherit;
  }
  
  #actions {
    cursor: pointer;
  }
  
  input[type="submit"] {
    position: relative;
    bottom: 2px;
  }
  
  #another_note:hover, #schedule_donation:hover {
    color: #f15a29;
  }

  input[type="submit"], #sign_in, #another_note, #schedule_donation {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    padding: 10px 25px;
    border: 0;
    border-radius: 20px;
    background: #681d03;
    display: inline-block;
    -webkit-appearance: none;
  }
  
  #login_status {
    color: #fff;
    font-family: adobe-caslon-pro;
    font-size: 20px;
  }
  
  #login_status a {
    color: #fff;
    text-decoration: underline;
  }
  
  #another_note {
    margin-right: 20px;
  }
  
  #sent_actions {
    margin: 0 auto;
  }

  input[type="submit"]:hover, #sign_in:hover {
    color: #f15a29;
  }
  
  #chars {
    color: #888;
  }

  label {
    color: #888;
  }
  
  #sent_actions a {
    color: #fff;
    font-weight: 600;
  }
  
  #sent_actions a:hover {
    color: #f15a29;
  }

  #call_to_action, #call_to_action a {
    background: #fff;
    color: #f15a29;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
  }

  #sent_first {
    color: #fff;
    text-align: center;
  }
  
  #sent_second {
    color: #fff;
    text-align: center;
    font-size: 33px;
    font-family: "adobe-caslon-pro";
  }

  #container {
    max-width: 950px;
  }

  #dates {
    margin: 0 auto;
    padding: 13px;
  }
  
  #handle:hover {
    text-decoration: underline;
  }

  #dates_container {
    background: #681d03;
    width: 100%;
  }

  #diag_backdrop {
    -moz-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); 
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); 
    background: url("https://s3.amazonaws.com/WeHearNebraska/diag.png") repeat 50% 0; 
    overflow: hidden; 
    *zoom: 1; 
    max-width: 1000px; 
    margin: 0 auto; 
  }
  
  #i_hear {
    margin-bottom: 20px;
  }

  #lnk {
    display: inline-block;
  }

  #lnk_date {
    color: #f15a29;
  }

  #lnk_name, #omaha_name {
    color: #fff;
    font-weight: 100;
  }

  #logo {
    display: inline-block;
  }

  #omaha {
    display: inline-block;
  }

  #omaha_date {
    color: #f15a29;
  }

  #question {
    color: #fff;
    font-family: "adobe-caslon-pro";
  }

  #see_more {
    color: #fff;
    background: #f15a29;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    clear: both;
  }

  #see_more:hover {
    background: #681d03;
  }
  
  #retweet_icon, #favorite_icon {
    width: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
  }
  
  #retweeted {
    color: #609928;
  }

  #tweets_input {
    margin: 0 auto;
  }

  #tweets_input_container {
    background: #f15a29;
  }
  
  #signin {
    display: none;
  }

  * {
    box-sizing: border-box;
  }